/* Background Style Start */
html {
background-repeat: no-repeat;background-size: cover;}
/* Background Style End */

/* Font Style Start */
html {font-family: Comic Sans MS, sans-serif; color: white;}
p {font-size: calc(16px + 0.3 * (100vw - 320px) / 100);color: white;}
a {font-size: calc(16px + 0.4 * (100vw - 320px) / 100);color: white;} 
ul {font-size: calc(16px + 0.5 * (100vw - 320px) / 100);color: white;}
li {font-size: calc(16px + 0.5 * (100vw - 320px) / 100);color: white;}
h1 {font-size: calc(24px + 2.3 * (100vw - 320px) / 100);color: black;}
h2 {font-size: calc(24px + 2 * (100vw - 320px) / 100);color: blue;}
.span {font-size: calc(16px + 0.5 * (100vw - 320px) / 100);color: blue;}
.title {font-size: calc(16px + 1.2 * (100vw - 320px) / 100);text-shadow: 0.2ex 0.2ex 0.5ex orange;color: black;background: rgb(255, 255, 255, 0.5);}
.nav a {font-size: calc(16px + 0.6 * (100vw - 320px) / 100);text-shadow: 0.2ex 0.2ex 0.5ex orange;color: blue;}
nav a, p, li, h1, h2 {text-shadow: 0.2ex 0.2ex 0.5ex orange;}
/* Font Style End */

/* Padding & Margin Style Start*/
*, body {margin: 0;padding: 0;}
header, h1, nav, main, footer, aside {margin: 0 0.25vmin 0 0.25vmin;}
p, ul, li, h2, h3, h4, h5, h6 {margin:0 0.3vmin 0 0.3vmin;padding: 1vmin 1vmin 1vmin 0.25vmin;}
a {padding: 1.3vmin;}
.title {padding: 1.4vmin;}
/* Padding & Margin Style End*/

/* Navigation Style Start */
li:hover {text-shadow: 0.2ex 0.2ex 0.5ex blue;zoom:1.2;}
nav {white-space: nowrap;}
nav a {display: inline-block; color: white;
text-align: center;text-decoration: none;}
nav a:hover {background: rgb(0, 0, 0, 0.9);}
span:hover {color: silver;}
ul {list-style-type: none;}
li {display: inline-block;border: black solid 0.1vw;}
li:hover {color: #000;}
/* Navigation Style End */

/* Block And Media Styles Start */
header {grid-area: h;}
nav {grid-area: n;}
main {grid-area: m;}
aside {grid-area: a;}
main, aside {background: rgb(0, 0, 0, 0.5);}
footer {grid-area: f;background: rgb(0, 0, 0, 0.3);}

#container {display: grid;grid-gap: 0.2vw;
grid-template-rows: minmax(100px, auto) minmax(10px, auto) minmax(10px, auto) minmax(10px, auto);
grid-template-columns: repeat(auto-fill, minmax(320px, 400px)) 1fr 1fr 1fr 1fr 1fr;
grid-template-areas:
"h h h h h" "n n n n n" "m m m m a" "f f f f f";}

@media only screen and (orientation: portrait) and (min-width: 100px) and (max-width: 1024px) {
aside {display: none;}
#container {grid-template-areas:
"h h h h h"  "n n n n n" "m m m m m" "f f f f f";}
@media only (orientation: landscape) and (min-width: 480px) and (max-width: 1024px) {
#container {display: grid;grid-template-areas:
"h h h h h"  "n n n n n" "m m m m a" "f f f f f";}
/* Block And Media Styles End */