/*#################################################*/
/*##### 	Background						  #####*/
/*#################################################*/
html {background: url(image.webp); background-repeat: no-repeat; background-size: cover;}
main, aside {background: rgb(0, 0, 0, 0.3);}
footer {background: rgb(0, 0, 0, 0.1);}
.block-name {background: rgb(255, 255, 255, 0.5);}


/*#################################################*/
/*##### 	Font Styles						  #####*/
/*#################################################*/
html {font-family: Comic Sans MS, sans-serif;}

/* Font Size */
body {font-size: calc(18px + 0.3 * (100vw - 320px) / 100);}
p {font-size: calc(16px + 0.5 * (100vw - 320px) / 100);}
a {font-size: calc(16px + 0.5 * (100vw - 320px) / 100);} 
ul {font-size: calc(16px + 1 * (100vw - 320px) / 100);}
li {font-size: calc(16px + 1 * (100vw - 320px) / 100);}
h1 {font-size: calc(24px + 2.3 * (100vw - 320px) / 100);}
h2 {font-size: calc(24px + 2 * (100vw - 320px) / 100);}
.nav a {font-size: calc(16px + 2 * (100vw - 320px) / 100);}
.block-name {font-size: calc(16px + 2.3 * (100vw - 320px) / 100);}

/* Font Color */
html, body, nav a, a, p, li, ul {color:white;}
h1 {color:green;}
h2 {color:blue;}
.block-name, .nav a {color:black;}

/* Font Shadow Effect */
body, a, p, li, ul, h1, h2, .nav a {text-shadow: 0.2ex 0.2ex 0.5ex orange;}

/* Font Hover Effect */
li:hover {text-shadow: 0.2ex 0.2ex 0.5ex blue;zoom:1.2;}
nav a:hover {background: rgb(0, 0, 0, 0.9);}
span:hover {color: silver;}
li:hover {color: #000;}

/* Etc */
ul {list-style-type: none;}
li {border: black solid 0.1vw;}
nav {white-space: nowrap;}
nav a {text-align: center;text-decoration: none;}
/*#################################################*/
/*##### 	Font Styles						  #####*/
/*#################################################*/

.block-content {cursor:pointer;}
/*header, nav {display: grid; justify-items: start;}*/

/*#################################################*/
/*##### 	Positioning						  #####*/
/*#################################################*/

/* Width (Min / Max) */
html {max-width: 100vw;}

/* Padding */
*, body {padding: 0;}
/*h1, h2 {padding: 1vw;}*/
p, li, .nav a, {padding: 1vw;}
footer, span, p {padding: 0 0 0 0.5vw;}
nav a {padding: 1vmin;}
.span {padding: 0 0 0 0.8vw;}
.block-name {padding:0.1vw 0.6vw 0.2vw 0.7vw;}
.block-content {padding:0.1vw 0.6vw 0.3vw 1vw;}

/* Margin */
* {margin: 0;}
header {margin-left: 0.4vw;}
body {margin: 0.5vw 5vw;}

/* grid-gap */
.wrapper, #container {grid-gap: 0.2vw;}

/* Position X */
li, nav a{display: inline-block;}
body, .wrapper, #container {display:grid;}

/* grid-area */
header {grid-area: h;}
nav {grid-area: n;}
main {grid-area: m;}
aside {grid-area: a;}
footer {grid-area: f;}
.wrapper {grid-area: w;}

/* grid-template */
#container {grid-template-rows: minmax(50px, auto) minmax(10px, auto) minmax(10px, auto) minmax(10px, auto);
grid-template-columns: repeat(auto-fill, minmax(320px, 400px)) 1fr 1fr 1fr 1fr 1fr;
grid-template-areas: "h" "n" "w" "f";}
.wrapper {grid-template-areas: "m m m m m a";}

@media only screen and (orientation: portrait) and (min-width: 100px) and (max-width: 1024px) {
.wrapper {display: grid; grid-template-areas: "m" "a";}
body {margin: 0;}
}

@media only (orientation: landscape) and (min-width: 480px) and (max-width: 1024px) {
.wrapper {display: grid; grid-template-areas: "m m m m m a";}
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
html {width: 768px;}
}

@media only screen and (min-width: 2300px) and (max-width: 7000px) {
body {font-size: 1vw;}
}
/* Responsive */

/*#################################################*/
/*##### 	Positioning						  #####*/
/*#################################################*/


/* _______  ___   _______    _______  ______    ___   ______  
|       ||   | |       |  |       ||    _ |  |   | |      | 
|    ___||   | |_     _|  |    ___||   | ||  |   | |  _    |
|   |___ |   |   |   |    |   | __ |   |_||_ |   | | | |   |
|    ___||   |   |   |    |   ||  ||    __  ||   | | |_|   |
|   |    |   |   |   |    |   |_| ||   |  | ||   | |       |
|___|    |___|   |___|    |_______||___|  |_||___| |______| 
Дейв Руперт
Читайте ещё: https://daverupert.com/2017/09/breaking-the-grid/*/

/* 
 * Удаляем `min-width: auto` из элементов грида.
 * Чиним элементы с overflow-x.
*/
/*.fit-grid > * { min-width: 0; }

/* Применяем max-width к замещаемым элементам и контролам формы */
/*.fit-grid img,
.fit-grid video,
.fit-grid audio,
.fit-grid canvas,
.fit-grid input,
.fit-grid select,
.fit-grid button,
.fit-grid progress { max-width: 100%; }*/

/* Заставляем поля с типом file и submit переносить текст */
/*.fit-grid input[type="file"],
.fit-grid input[type="submit"] { white-space: pre-wrap; }*/

/* Чиним прогрессбар и поле-ползунок */
/*.fit-grid progress,
.fit-grid input[type="range"] { width: 100%; }*/

/* Фиксим поля с типом Number в Firefox */
/*@supports (--moz-appearance: none) {
  .fit-grid input[type="number"] { width: 100%; }
}